<div class="container clearfix" ng-controller="ListArtistsController">
    <div class="container">
        <h1 style="display: inline-block">All Artists</h1>
        <a href="#/add-artist" class="btn btn-primary btn-lg pull-right">Add Artist</a>
        <div style="padding: 10px" id="wrapper-artists">
            {{#each this}}
            <div class="artist row">

                <a class="col-md-4" href="#">
                    <img style="width: 80%; height: 100%;" src={{ImgLink}}>
                </a>
                <div class="col-md-4">
                    <h3>{{Name}}</h3>
                    <p> Country: {{Country}}</p>
                    <p>Birth Date: {{BirthDate}}</p>
                    <p>Albums:</p>
                    {{#each Albums}}
                    <p>{{Title}}</p>
                    {{/each}}
                </div>
                <div class="col-md-4">
                    <a class="more-info btn btn-primary" id="btn-more-{{ID}}">More info</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

