<form class="form-horizontal col-md-6 text-center">
    <fieldset>
        <legend>Edit Artist</legend>
        <div class="form-group">
            <label for="tb-artist-name" class="col-md-6 control-label">
                Name:
            </label>

            <div class="col-md-6">
                <input type="text" class="form-control" id="tb-artist-name" placeholder={{this.Name}}>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="tb-artist-country" class="col-md-6 control-label">
                Country:
            </label>

            <div class="col-md-6">
                <input type="text" class="form-control" id="tb-artist-country" placeholder={{this.Country}}>

            </div>
        </div>
        <div class="form-group">
            <label for="tb-artist-bdate" class="col-md-6 control-label">
                Date of birth:
            </label>
            <div class="col-md-6">
                <input type="date" class="form-control" id="tb-artist-bdate" />
            </div>
        </div>
        <div class="form-group">
            <label for="tb-artist-img" class="col-md-6 control-label">
                Img link:
            </label>

            <div class="col-md-6">
                <input type="text" class="form-control" id="tb-artist-img" placeholder={{this.ImgLink}}>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                {{#each this.Songs}}
                <p>{{Name}}</p>
                {{/each}}
                <div id="songs"></div>
                <div class="pull-right">
                    Add Album &nbsp<button class="btn btn-primary btn-add-song">+</button>
                </div>
            </div>
        </div>
        <p><i>Note: You will be able to add image to the albums in editing albums</i></p>
        
        <div class="form-group">
            <div class="col-md-6 col-md-offset-6">
                <a id="btn-edit-artist" class="btn btn-primary">Save</a>
            </div>
        </div>

    </fieldset>
</form>
