<div>
    <h2><span class="label label-info">{{Title}}</span></h2>
    <span class="label label-info">{{Year}}</span>
    <div class="row">
        <div class="col-md-6">

            <img style="width: 65%; height: 100%;" src={{ImgLink}}>
        </div>
        <div class="col-md-6">
            <div  id="wrapper-songs">Songs:
                {{#each Songs}}
                <div class="row panel-body  song">
                    <div class="col-md-3">{{Title}}</div>
                    <div class="col-md-3">{{Year}}</div>
                    <div class="col-md-3">{{Genre}}</div>
                    <div class="col-md-3">
                        <button class="btn btn-sm btn-danger" id="btn-delete-song-{{ID}}">Delete</button>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div id="songs"></div>
    <div id="wrapper-editable-options">
        <button class="edit btn btn-primary" id="btn-edit-{{ID}}">Edit</button>
        <button class="delete btn btn-default" id="btn-delete-{{ID}}">Delete</button>
        <button class="add-song btn btn-default" id="btn-add-song-{{ID}}">Add Song</button>
    </div>
   
    <!--</div>-->
</div>
